<div class="image-tile-item">

		<figure class="image-tile tile-hover subsection-link" style="background-image: url('<%= image %>')" data-hover="url('<%= hover %>')" data-original="url('<%= image %>')" data-link="#<%= id %>"></figure>

	<div class="tile-info">
		<h5 class="header-info title link subsection-link" data-link="#<%= id %>"><%= title %></h5>
	</div>
</div>