<header class="side-navigation">
  <img src="/images/logo.svg" class="logo">
  <section class="basic-info">
    <h4 class="name">Varissara <span class="light">Mew</span> Ophaswongse</h4>
    <div class="contact-group">
      <div class="address"><%= data.me.address %></div>
      <div class="address-city"><%= data.me.city %></div>
      <div class="phone"><%= data.me.phone %></div>
    </div>
    <div class="contact-group">
      <div class="email"><%= data.me.email %></div>
      <div class="site"><%= data.me.site %></div>
    </div>
  </section>
</header>