<%= partial "/partials/sidenav", locals: {design_nav: true, title: work.title, description: work.subtitle} %>
<%= javascript_include_tag "works" %>
<% has_gallery = work.images && work.images.length > 1 %>
<article class="design-content">
	<section class="details-section">
		<div class="details-content">
			<% if work.images %>
				<div class="gallery">
					<% if has_gallery %>
						<% work.images.each do |image| %>
							<a class="fancybox three-col" rel="gallery" href="<%= image %>">
								<div class="gallery-item lazyload" data-original="<%= image %>">
								</div>
							</a>
						<% end %>
					<% else %>
						<% gallery_class = work.no_border ? "no-border" : "gallery-img" %>
						<% image = work.images[0] %>
						<img class="lazyload <%= gallery_class %>" data-original="<%= image %>"/>
					<% end %>
				</div>
			<% end %>
		</div>
		<p class="description"><%= work.description %></p>
		<% if work.type == "code" %>
			<% link_to work.link, target: "_blank", class: "cta-link link" do %>
				View Site<i class="fa fa-chevron-right" aria-hidden="true"></i>
			<% end %>
		<% end %>
	</section>
</article>
