<%= partial "/partials/sidenav" %>
<%= javascript_include_tag "works" %>
<% has_gallery = work.images && work.images.length > 1 %>
<article class="work-content">
	<section class="top-content">
		<div class="banner">
			<% cover = work.coverImage ? work.coverImage : work.image %>
			<div class="banner-image" style="background-image: url('<%= cover %>');"></div>
		</div>
		<div class="intro">
			<h1><%= work.title %></h1>
			<p class="description"><%= work.description %></p>
			<div class="cta">
				<% if has_gallery %>
					Click on the thumbnail to view larger image
				<% elsif work.type == "code" %>
					<% link_to work.link, target: "_blank", class: "link" do %>
						View Site<i class="fa fa-chevron-right" aria-hidden="true"></i>
					<% end %>
				<% elsif work.type === "essay" %>
					<% link_to work.link, target: "_blank", class: "link" do %>
						Read Essay<i class="fa fa-chevron-right" aria-hidden="true"></i>
					<% end %>
				<% end %>
			</div>
		</div>
	</section>

	<section class="details-section">
		<div class="details-content">
			<% if work.images %>
				<div class="gallery">
					<% if has_gallery %>
						<% work.images.each do |image| %>
							<a class="fancybox three-col" rel="gallery" href="<%= image %>">
								<div class="gallery-item"
								style="background-image: url('<%= image %>');">
								</div>
							</a>
						<% end %>
					<% else %>
						<% image = work.images[0] %>
						<%= image_tag image, alt: work.title, class: 'gallery-image' %>
					<% end %>
				</div>
			<% end %>
		</div>
	</section>
</article>
