<div class="sidebar-wrapper">
  <%= partial "/partials/cv-sidebar" %>
</div>
<% content_for :title, "Mew Ophaswongse's CV | mewoph.com" %>
<article class="cv-content">

  <section class="info-section skills">
    <h5 class="section-header">Skills</h5>
    <% data.me.skills.keys.each do |skill_type| %>
      <span class="light"><%= skill_type.titleize %>:</span>
      <%= data.me.skills[skill_type] %><br/>
    <% end %>
  </section>

  <section class="info-section work-experience">
    <h5 class="section-header">Work Experience</h5>
    <% data.me.employment.each do |work| %>
      <figure class="work-item">
        <div class="employer-name"><%= work.employer %></div>
        <div class="position"><%= work.position %></div>
        <ul class="duties">
          <% work.duties.each do |duty| %>
            <li class="duty-item"><%= duty %></li>
          <% end %>
        </ul>
        <div class="right-section">
          <div class="location"><%= work.location %></div>
          <div class="date"><%= work.date %></div>
        </div>
      </figure>
    <% end %>
  </section>

  <section class="info-section education">
    <h5 class="section-header">Education</h5>
    <% data.me.education.each do |edu| %>
      <figure class="edu-item">
        <div class="uni-name"><%= edu.university %></div>
        <div class="degree"><%= edu.degree %></div>
        <% if edu.grade %>
          <div class="grade">(<%= edu.grade %>)</div>
        <% end %>
        <div class="details">
          <% edu.details.keys.each do |detail_type| %>
            <span class="light"><%= detail_type.titleize %>:</span>
            <%= edu.details[detail_type] %>
          <% end %>
        </div>
        <div class="right-section">
          <div class="location"><%= edu.location %></div>
          <div class="date"><%= edu.date %></div>
        </div>
      </figure>
    <% end %>
  </section>



</article>