<%= partial "/partials/sidenav" %>
<article class="home-content">

	<section class="info-section" id="code-section">
		<h4 class="section-header">CODE</h4>
		<p class="section-intro"><%= data.code.intro %></p>
		<% data.code.items.each do |item| %>
		<%= partial "partials/image-tile", locals: { 
			image: item.image,
			title: item.title,
			subtitle: item.subtitle,
			description: item.description,
			link: item.link,
			cta: item.cta } %>
			<% end %>
	</section>

	<section class="info-section" id="words-section">
		<h4 class="section-header">WORDS</h4>
		<p class="section-intro"><%= data.words.intro %></p>
		<div class="two-col">
			<% data.words.items.each do |item| %>
				<%= partial "partials/image-tile", locals: { 
				image: item.image,
				title: item.title,
				subtitle: item.subtitle,
				description: item.description,
				link: item.link,
				cta: item.cta } %>
			<% end %>
		</div>
	</section>

	<section class="info-section" id="images-section">
		<h4 class="section-header">IMAGES</h4>
		<p class="section-intro"><%= data.words.intro %></p>
		<div class="two-col">
			<% data.words.items.each do |item| %>
				<%= partial "partials/image-tile", locals: { 
				image: item.image,
				title: item.title,
				subtitle: item.subtitle,
				description: item.description,
				link: item.link,
				cta: item.cta } %>
			<% end %>
		</div>
	</section>

</article>
