<%= partial "/partials/sidenav" %>
<article class="home-content">

	<section class="info-section" id="code-section">
		<h4 class="section-header">CODE</h4>
		<p class="section-intro"><%= data.code.intro %></p>
		<% data.code.items.each do |item| %>
		<%= partial "partials/image-tile", locals: { 
			image: item.image,
			title: item.title,
			subtitle: item.subtitle,
			description: item.description,
			link: item.link,
			cta: item.cta } %>
			<% end %>
	</section>

	<section class="info-section" id="words-section">
		<h4 class="section-header">WORDS</h4>
		<p class="section-intro"><%= data.words.intro %></p>
		<div class="two-col">
			<% data.words.items.each do |item| %>
				<%= partial "partials/image-tile", locals: { 
				image: item.image,
				title: item.title,
				subtitle: item.subtitle,
				description: item.description,
				link: item.link,
				cta: item.cta } %>
			<% end %>
		</div>
	</section>

	<section class="info-section" id="images-section">
		<h4 class="section-header">IMAGES</h4>
		<p class="section-intro"><%= data.images.intro %></p>
		<div class="four-col">
			<% data.images.items.each do |item| %>
				<%= partial "partials/image-tile-small", locals: { 
				image: item.image,
				hover: item.hover,
				title: item.title,
				link: item.link,
				id: item.id } %>
			<% end %>
		</div>
	</section>

	<% data.images.items.each do |item| %>
		<section class="info-section subsection" id="<%= item.id %>">
			<h4 class="section-header"><%= item.title %></h4>
			<p class="section-intro"><%= item.description %></p>
			<% if item.images.length > 1 %>
				<div class="three-col">
					<% item.images.each do |image| %>
						<div class="gallery-item">
							<a class="fancybox" rel="gallery" href="<%= image %>">
								<figure class="image-item" style="background-image: url('<%= image %>');"></figure>
							</a>
						</div>
					<% end %>
				</div>
			<% else %>
				<figure class="image-item-wide">
					<%= image_tag item.images.first %>
				</figure>
			<% end %>
		</section>
	<% end %>



</article>
